@import url('https://fonts.googleapis.com/css2?family=Hahmlet:wght@300&display=swap');
$navbar:#450555;
$black:rgb(63, 63, 63);
$white:white;
$blue:rgb(0, 0, 255);
$red:red;
$pink:rgb(243, 16, 111);
$bg-main:rgba(236, 235, 235, 0.664);
$radius:5px;
$shadow:0px 0px 2px 2px rgb(224, 224, 224);
$font-family: 'Hahmlet', serif;
$duration:0.5s;
$font-heading: 900;

