@import "../var";
@import "../mixin";
.normal_value{
    font-family: $font-family;
    caption{
        text-align: center;
        font-size: 1.5rem;
        font-weight: $font-heading;
        color: $black;
    }
    tbody{  
        tr{
            td{
                padding: 1rem .5rem;
            }
        }
    }
} 